<script type="text/template" id="access-keys-template">
    <h4 class="user-name user-data">Access keys for "<%=login%>" user</h4>
    <table class="access-keys-table main-table multi-table">
        <thead>
            <tr>
                <th class="label">Label</th>
                <th class="key">Key</th>
                <th class="type">Type</th>
                <th class="expiration">Expiration Date</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
    </table>
    <a href="javascript:void(0)" class="add view-button">create new access key</a>
    <a href="javascript:void(0)" class="back view-button user-data">back to users</a>
</script>