<script type="text/template" id="access-key-template">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Access Key details</h3></div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Label:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control keylabel" value="<%= label %>" autofocus="autofocus"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Expiration date:</label>
                        <div class="col-lg-9">
                            <input class="form-control expiration-date" value="<%= expirationDate || "" %>" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Type:</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="accessKeyType">
                                <% _.each(types,function(value,key){ if(value == type){ %>
                                <option value=<%=value%> selected="selected"><%=key %></option>
                                <%} else { %>
                                <option value=<%=value%>><%=key %></option>
                                <% }}); %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="access-key-permissions-edit-container">
                <table class="main-table access-key-permissions-edit-table table table-striped">
                    <thead>
                        <tr>
                            <th>Domains</th>
                            <th>Subnets</th>
                            <th>Actions</th>
                            <th>Networks</th>
                            <th>Devices</th>
                            <th class="buttons-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a href="javascript:void(0)" class="add-access-key-permission view-button btn btn-primary">Add new permission</a>
            </div>
        </div>

        <div class="panel-footer">
            <a href="javascript:void(0)" class="save edit-button btn btn-success">Save</a>
            <a href="javascript:void(0)" class="cancel view-button btn btn-warning">Cancel</a>
        </div>
    </div>
</script>
