<script type="text/template" id="access-key-permission-edit-list-item-template">
    <td>
        <textarea id="<%= cid %>_domains" class="domains" rows="10" cols="23">
<%= domainsText %></textarea>
    </td>
    <td>
        <textarea id="<%= cid %>_subnets" class="subnets" rows="10" cols="23">
<%= subnetsText %></textarea>
    </td>
    <td>
        <% _.each(availableActions, function(description, action) { if (_.indexOf(adminActions, action) == -1) { %>
        <input class="action" id="<%= cid + '_' + action %>" type="checkbox" value="<%= action %>" title="<%= description %>" <% if (_.indexOf(actions, action) != -1) { %>checked="checked"<% } %> />
        <label for="<%= cid + '_' + action %>" title="<%= description %>"><%= action %></label><br/>
        <% } else if (app.User.get("role") != 1 && app.currentUserRole != 1) {%>
        <input class="action" id="<%= cid + '_' + action %>" type="checkbox" value="<%= action %>" title="<%= description %>" <% if (_.indexOf(actions, action) != -1) { %>checked="checked"<% } %> />
        <label for="<%= cid + '_' + action %>" title="<%= description %>"><%= action %> (Admin)</label><br/>
        <%}}); %>
    </td>
    <td class="networks">
        <ul>
            <% if (_.isEmpty(networkIds)) { %>
            <em>Any</em>
            <% } else { _.each(networkIds, function(networkId) {
            if (networks[networkId] != null) { %>
            <li data-id="<%= networkId %>"><span><%= networks[networkId]["name"] || "no name" %></span><span><a href="javascript:void(0)" class="remove-network delete-button" title="remove">x</a></span></li>
            <% }});} %>
        </ul>
        <select class="networks">
            <% _.each(networks, function(network, networkId) { %>
            <option value="<%= networkId %>"><%= network.name %></option>
            <% }); %>
        </select>
        <a href="javascript:void(0)" class="add-network edit-button">add</a>
    </td>
    <td class="devices">
        <ul>
            <% if (_.isEmpty(deviceGuids)) { %>
            <em>Any</em>
            <% } else { _.each(deviceGuids, function(deviceGuid) {
            if (devices[deviceGuid] != null) { %>
            <li data-id="<%= deviceGuid %>"><span><%= devices[deviceGuid]["name"] || "no name" %></span><span><a href="javascript:void(0)" class="remove-device delete-button" title="remove">x</a></span></li>
            <% }});} %>
        </ul>
        <select class="devices">
            <% _.each(devices, function(device, deviceGuid) { %>
            <option value="<%= deviceGuid %>"><%= device.name %></option>
            <% }); %>
        </select>
        <a href="javascript:void(0)" class="add-device edit-button">add</a>
    </td>
    <td class="buttons-column">
        <a href="javascript:void(0)" class="remove-access-key-permission delete-button">remove</a>
    </td>
</script>