<script type="text/template" id="user-create-edit-template">
     <h4 class="user-edit-heading">Access key details</h1>

     <table class="values-table">
         <tr>
             <td class="title-column"><label>label:</label></td>
             <td><input type="text" class="label" value="<%= label %>"/></td>
         </tr>
         <tr>
             <td class="title-column"><label>expiration date:</label></td>
             <td><input class="expiration-date" value="<%= expirationDate || "" %>" type="text"/></td>
         </tr>
     </table>
     <div class="access-key-permissions-edit-container panel">
         <table class="main-table access-key-permissions-edit-table">
             <thead>
                 <tr>
                     <th class="domains">Domains</th>
                     <th class="subnets">Subnets</th>
                     <th class="actions">Actions</th>
                     <th class="networks">Networks</th>
                     <th class="devices">Devices</th>
                     <th class="buttons-column"></th>
                 </tr>
             </thead>
             <tbody>
             </tbody>
         </table>
         <a href="javascript:void(0)" class="add-access-key-permission view-button">Add new permission</a>
     </div>

     <a href="javascript:void(0)" class="save edit-button">Save</a>
     <a href="javascript:void(0)" class="cancel view-button">Cancel</a>
</script>