<script type="text/template" id="access-keys-template">
    <h4 class="user-name user-data">Access keys for "<%=login%>" user</h4>
    <table class="table table-striped-body table-hover">
        <thead>
            <tr>
                <th>Label</th>
                <th>Key</th>
                <th>Type</th>
                <th>Expiration Date</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
    </table>
    <a href="javascript:void(0)" class="add btn btn-primary">Create new access key</a>
    <a href="javascript:void(0)" class="back btn btn-link">back to users</a>
</script>
