<script type="text/template" id="access-key-list-item-template">
    <tr>
        <td><%= label %></td>
        <td><%= key %></td>
        <td><%= type %></td>
        <td><%= expirationDate %></td>
        <td class="buttons-column text-nowrap">
            <a href="javascript:void(0)" class="details btn btn-default btn-sm">details</a>
            <a href="javascript:void(0)" class="edit btn btn-primary btn-sm">edit</a>
            <a href="javascript:void(0)" class="delete btn btn-danger btn-sm">delete</a>
        </td>
    </tr>
    <tr class="details-row panel">
        <td colspan="5">
            <table class="main-table access-key-permissions-table table table-striped">
                <thead>
                    <tr>
                        <th>Domains</th>
                        <th>Subnets</th>
                        <th>Actions</th>
                        <th>Networks</th>
                        <th>Devices</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </td>
    </tr>
</script>
