<script type="text/template" id="change-password">
    <form name="change-password-form" class="credentials-form">
        <div class='fields'>
            <div><span>Current password:</span> <input type="password" autofocus="autofocus" name="currentpassword" placeholder="Current password" autocomplete="off"/></label></div>
            <div><span>New password:</span> <input type="password" name="password" placeholder="New password" autocomplete="off"/></div>
            <div><span>Confirm password:</span> <input type="password" name="confirmpassword" placeholder="Confirm password" autocomplete="off"/></div>
            <div><span></span><input type="submit" class="view-button" value="Change password" /></div>
        </div>
        <div class="ui-helper-hidden error"></div>
        <div class="ui-helper-hidden success">Password successfully changed</div>
    </form>
</script>
