<script type="text/template" id="commands-list-template">
    <a href="javascript:void(0)" class="add-command btn btn-default">Enter new command</a>
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>time <a href="javascript:void(0)" class="show-datetime-filter">filter...</a></th>
                <th>parameters</th>
                <th>status</th>
                <th>result</th>
                <th class="buttons-column"></th>
            </tr>
            <tr class="loading-area">
                <th colspan="6"></th>
            </tr>
        </thead>
        <tbody class="child-items-holder">
        </tbody>
    </table>
</script>
