<script type="text/template" id="commands-list-template">
    <a href="javascript:void(0)" class="add-command view-button">enter new command</a>
    <table class="commands-table main-table">
        <thead>
            <tr>
                <th class="name-column">name</th>
                <th class="time-column">time <a href="javascript:void(0)" class="show-datetime-filter">filter...</a></th>
                <th class="parameters-column">parameters</th>
                <th class="status-column">status</th>
                <th class="result-column">result</th>
                <th class="buttons-column"></th>
            </tr>
            <tr class="loading-area">
                <th colspan="6"></th>
            </tr>
        </thead>
        <tbody class="child-items-holder">
        </tbody>
    </table>
</script>