<script type="text/template" id="device-class-template">
    <table class="device-class-table main-table">
        <thead>
            <tr>
                <th class="name">name</th>
                <th class="version">version</th>
                <th class="is-permanent">isPermanent</th>
                <th class="offline-timeout">offline timeout</th>
                <th class="data">data</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="add view-button">Add new device class</a>
</script>