<script type="text/template" id="device-class-template">
    <table class="device-class-table main-table table">
        <thead>
            <tr>
                <th>name</th>
                <th>version</th>
                <th>isPermanent</th>
                <th>offline timeout</th>
                <th>data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="add btn btn-primary">Add new device class</a>
</script>
