<script type="text/template" id="device-equipments-list-template">
    <table class="device-equipments-table main-table">
        <thead>
            <tr>
                <th class="name-column">name</th>
                <th class="code-column">code</th>
                <th class="type-column">type</th>
                <th class="state-column">state</th>
                <th class="refresh-column">refresh time</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>