<script type="text/template" id="device-panels-template">
    <ul class="device-panels-switcher nav nav-pills">
        <!--
        <li class="equipment-tab menu-item">
            <a href="javascript:void(0)">equipment</a>
        </li>
        -->
        <li class="commands-tab menu-item">
            <a href="javascript:void(0)">commands</a>
        </li>
        <li class="notifications-tab menu-item">
            <a href="javascript:void(0)">notifications</a>
        </li>

    </ul>
    <br>
</script>
