<script type="text/template" id="equipment-list-item-template">
    <td class="name-column"><span class="current-value"><%= name %></span><span class="new-value"><input type="text" class="name-equip" value="<%= name %>"/></span></td>
    <td class="code-column"><span class="current-value"><%= code %></span><span class="new-value"><input type="text" class="code-equip" value="<%= code %>"/></span></td>
    <td class="type-column"><span class="current-value"><%= type %></span><span class="new-value"><input type="text" class="type-equip" value="<%= type %>"/></span></td>
    <td class="type-column"><span class="current-value"><%= data %></span><span class="new-value"><textarea class="data-equip"><%= data %></textarea></span></td>

    <td class="buttons-column">
        <span class="current-value"><a href="javascript:void(0)" class="edit-equip view-button button">edit</a><a href="javascript:void(0)" class="delete-equip delete-button button">delete</a></span>
        <span class="new-value"><a href="javascript:void(0)" class="cancel-equip view-button button">cancel</a><a href="javascript:void(0)" class="save-equip edit-button button">save</a></span>
    </td>
</script>