<script type="text/template" id="network-list-item-template">
    <td class="network"><span class="current-value"><%= name %></span><span class="new-value"><input type="text" id="new-network-name" value="<%= name %>"/></span></td>
    <td class="key"><span class="current-value"><%= key %></span><span class="new-value"><textarea id="new-network-key"><%= key %></textarea></span></td>
    <td class="description lg-only"><span class="current-value"><%= description %></span><span class="new-value"><textarea id="new-network-description"><%= description %></textarea></span></td>
    <td class="buttons-column">
        <span class="current-value">
            <a href="javascript:void(0)" class="edit btn btn-sm btn-primary">edit</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-danger">delete</a>
        </span>
        <span class="new-value">
            <a href="javascript:void(0)" class="save btn btn-sm btn-success">save</a>
            <a href="javascript:void(0)" class="cancel btn btn-sm btn-warning">cancel</a>
        </span>
    </td>
</script>
