<script type="text/template" id="network-list-item-template">
    <td class="network"><span class="current-value"><%= name %></span><span class="new-value"><input type="text" id="new-network-name" value="<%= name %>"/></span></td>
    <td class="key"><span class="current-value"><%= key %></span><span class="new-value"><textarea id="new-network-key"><%= key %></textarea></span></td>
    <td class="description"><span class="current-value"><%= description %></span><span class="new-value"><textarea id="new-network-description"><%= description %></textarea></span></td>
    <td class="buttons-column">
        <span class="current-value"><a href="javascript:void(0)" class="edit view-button">edit</a><a href="javascript:void(0)" class="delete delete-button">delete</a></span>
        <span class="new-value"><a href="javascript:void(0)" class="cancel view-button">cancel</a><a href="javascript:void(0)" class="save edit-button">save</a></span>
    </td>
</script>