<script type="text/template" id="notifications-list-template">
    <a href="javascript:void(0)" class="add-notification view-button">enter new notification</a>
    <table class="notifications-table main-table">
        <thead>
            <tr>
                <th class="name-column">name</th>
                <th class="time-column">time <a href="javascript:void(0)" class="show-datetime-filter">filter...</a></th>
                <th class="parameters-column">parameters</th>
                <th class="buttons-column"></th>
            </tr>
            <tr class="loading-area">
                <th colspan="4"></th>
            </tr>
        </thead>
        <tbody class="child-items-holder">
        </tbody>
    </table>
    <div class="max-rows-number-reached">Only 100 latest notifications displayed. Make search criteria more certain to view all records.</div>
</script>
