<script type="text/template" id="devices-template">
    <table class="oauth2-client-table main-table">
        <thead>
            <tr>
                <th class="name">client name</th>
                <th class="domain">domain</th>
                <th class="subnet">subnet</th>
                <th class="redirect-uri">redirect uri</th>
                <th class="client-id">client id</th>
                <th class="oauth-secret">secret</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button class="add view-button">register new OAuth2 client</button>
</script>
