<script type="text/template" id="user-list-item-template">
    <td><%= login %></td>
    <td><%= role %></td>
    <td><%= status %></td>
    <td><%= lastLogin %></td>
    <td><%= data %></td>
    <td class="buttons-column">
        <a href="javascript:void(0)" class="networks btn btn-sm btn-default">networks</a>
        <a href="javascript:void(0)" class="accessKeys btn btn-sm btn-default">access keys</a>
        <a href="javascript:void(0)" class="edit btn btn-sm btn-primary">edit</a>
        <a href="javascript:void(0)" class="delete btn btn-sm btn-danger">delete</a>
    </td>
</script>
