<script type="text/template" id="user-list-template">
    <table class="users-table main-table">
        <thead>
            <tr>
                <th class="login">login</th>
                <th class="role">role</th>
                <th class="status">status</th>
                <th class="last-login">last login</th>
                <th class="data">data</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="add view-button">Add new user</a>
</script>