<script type="text/template" id="user-list-template">
    <table class="users-table main-table table table-striped">
        <thead>
            <tr>
                <th>login</th>
                <th>role</th>
                <th>status</th>
                <th>last login</th>
                <th>data</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="add btn btn-primary">Add new user</a>
</script>
