<script type="text/template" id="user-auth">
<div>
    <form class="credentials-form">
        <div class='fields'>
            <div><span>Login:</span> <input type="text" name="login" value="" autofocus /></div>
            <div><span>Password:</span> <input type="password" name="password" /></div>
            <div><span></span> <input type="submit" class="view-button" value="Log in" /></div>
        </div>
        <div class="error ui-helper-hidden"></div>
    </form>
</div>
<div class="text-center">
    <div class="identity-providers google-identity-login ui-helper-hidden" id="googleIdentityLoginId">
        <form action="https://accounts.google.com/o/oauth2/auth" method="get">
            <input name="response_type" value="code" type="hidden">
            <!--<input name="response_type" value="token" type="hidden">-->
            <input name="client_id" id="googleClientId" type="hidden">
            <input name="redirect_uri" type="hidden">
            <input name="scope" value="email" type="hidden">
            <input name="state" id="googleStateId" type="hidden">
            <button type="submit" class="btn btn-google-plus"><i class="fa fa-google-plus"> Sign in with Google</i></button>
        </form>
    </div>
    <div class="identity-providers facebook-identity-login ui-helper-hidden" id="facebookIdentityLoginId">
        <form action="https://www.facebook.com/dialog/oauth" method="get">
            <!--<input name="response_type" value="token" type="hidden">-->
            <input name="client_id" id="facebookClientId" type="hidden">
            <input name="redirect_uri" type="hidden">
            <input name="scope" value="email" type="hidden">
            <input name="state" id="facebookStateId" type="hidden">
            <button type="submit" class="btn btn-facebook"><i class="fa fa-facebook"> Sign in with Facebook</i></button>
        </form>
    </div>
    <div class="identity-providers github-identity-login ui-helper-hidden" id="githubIdentityLoginId">
        <form action="https://github.com/login/oauth/authorize" method="get">
            <input name="client_id" id="githubClientId" type="hidden">
            <input name="scope" value="user:email" type="hidden">
            <input name="redirect_uri" type="hidden">
            <input name="state" id="githubStateId" type="hidden">
            <button type="submit" class="btn btn-github"><i class="fa fa-github"> Sign in with Github</i></button>
        </form>
    </div>
</div>
</script>
