<script type="text/template" id="user-networks-template">
    <h4>Networks accessible to "<%=login%>" user</h4>
    <table class="user-networks-table main-table">
        <thead>
            <tr>
                <th class="network">network</th>
                <th class="description">description</th>
                <th class="buttons-column"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

<a href="javascript:void(0)" class="back view-button user-data">back to users</a>
</script>
