<script type="text/template" id="user-list-item-template">
            <td class="login"><%= login %></td>
            <td class="role"><%= role %></td>
            <td class="status"><%= status %></td>
            <td class="last-login"><%= lastLogin %></td>
            <td class="data"><%= data %></td>
            <td class="buttons-column"><a href="javascript:void(0)" class="networks view-button">networks</a><a href="javascript:void(0)" class="accessKeys view-button">access keys</a><a href="javascript:void(0)" class="edit view-button">edit</a><a href="javascript:void(0)" class="delete delete-button">delete</a></td>
</script>